Package: luci-proto-ppp
Version: git-21.280.14233-9b796b1-1
Depends: libc
Source: feeds/luci/protocols/luci-proto-ppp
SourceName: luci-proto-ppp
License: Apache-2.0
Section: luci
SourceDateEpoch: 1633579033
Architecture: all
Installed-Size: 3106
Description:  Support for PPP/PPPoE/PPPoA/PPtP
