Package: luci-app-vsftpd
Version: 1.0-3
Depends: libc, vsftpd-alt
Source: package/lean/luci-app-vsftpd
SourceName: luci-app-vsftpd
Section: luci
SourceDateEpoch: 1618822324
Architecture: all
Installed-Size: 2873
Description:  LuCI support for VSFTPD
