Package: coreutils
Version: 8.32-6
Depends: libc
Source: feeds/packages/utils/coreutils
SourceName: coreutils
License: GPL-3.0-or-later
LicenseFiles: COPYING
Section: utils
SourceDateEpoch: 1636706225
CPE-ID: cpe:/a:gnu:coreutils
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 105
Description:  Full versions of standard GNU utilities. If an equivalent Busybox applet is
 available, you should consider compiling that instead as Busybox applets are
 usually smaller, at the expense of reduced functionality.
