Package: urandom-seed
Version: 3
Depends: libc, getrandom
Source: package/system/urandom-seed
SourceName: urandom-seed
License: GPL-2.0-only
Section: base
SourceDateEpoch: 1623666608
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 833
Description:  /etc/urandom.seed handling for OpenWrt
