Package: luci-proto-ipv6
Version: git-21.280.14233-9b796b1-1
Depends: libc
Source: feeds/luci/protocols/luci-proto-ipv6
SourceName: luci-proto-ipv6
License: Apache-2.0
Section: luci
SourceDateEpoch: 1633579033
Architecture: all
Installed-Size: 4790
Description:  Support for DHCPv6/6in4/6to4/6rd/DS-Lite/aiccu
