Package: luci-app-ddns
Version: 2.4.9-8
Depends: libc, luci-mod-admin-full, ddns-scripts
Source: feeds/luci/applications/luci-app-ddns
SourceName: luci-app-ddns
License: Apache-2.0
Section: luci
SourceDateEpoch: 1633579033
Maintainer: Ansuel Smith <ansuelsmth@gmail.com>
Architecture: all
Installed-Size: 26341
Description:  LuCI Support for Dynamic DNS Client (ddns-scripts)
