Package: libc
Version: 1.1.24-3
Depends: libgcc1
Source: package/libs/toolchain
SourceName: libc
License: GPL-3.0-with-GCC-exception
Section: libs
SourceDateEpoch: 1623666608
Status: unknown hold not-installed
Essential: yes
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 236138
Description:  C library
