Package: odhcpd-ipv6only
Version: 2021-06-19-564d25e5-14
Depends: libc, libubox20210516, libuci20130104, libubus20210603, libnl-tiny1
Source: package/network/services/odhcpd
SourceName: odhcpd-ipv6only
License: GPL-2.0
Section: net
SourceDateEpoch: 1623751087
Maintainer: Hans Dedecker <dedeckeh@gmail.com>
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 36329
Description:  odhcpd is a daemon for serving and relaying IP management protocols to
 configure clients and downstream routers. It tries to follow the RFC 6204
 requirements for IPv6 home routers.
 
 This is a variant providing server services for RA, stateless and stateful
 DHCPv6,  prefix delegation and can be used to relay RA, DHCPv6 and NDP between
 routed (non-bridged) interfaces in case no delegated prefixes are available.
