Package: libustream-openssl20201210
Version: 2020-12-10-68d09243-2
Depends: libc, libubox20210516, libopenssl1.1
Provides: libustream-openssl
Source: package/libs/ustream-ssl
SourceName: libustream-openssl
License: ISC
Section: libs
SourceDateEpoch: 1624726805
ABIVersion: 20201210
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 3836
Description:  ustream SSL Library (openssl)
