Package: base-files
Version: 46-r3883-49f943873
Depends: libc, netifd, jsonfilter, usign, openwrt-keyring, ubi-utils, fstools, fwtool
Source: package/base-files
SourceName: base-files
License: GPL-2.0
Section: base
SourceDateEpoch: 1635258131
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 53572
Description:  This package contains a base filesystem and system scripts for OpenWrt.
