Package: luci-newapi
Version: git-21.280.14233-9b796b1-1
Depends: libc, luci-base
Source: feeds/luci/modules/luci-newapi
SourceName: luci-newapi
Section: luci
SourceDateEpoch: 1633579033
Architecture: all
Installed-Size: 11684
Description:  LuCI NewAPI
