Package: strongswan-minimal
Version: 5.9.4-1
Depends: libc, strongswan, strongswan-charon, strongswan-mod-aes, strongswan-mod-gmp, strongswan-mod-hmac, strongswan-mod-kernel-netlink, strongswan-mod-nonce, strongswan-mod-pubkey, strongswan-mod-random, strongswan-mod-sha1, strongswan-mod-socket-default, strongswan-mod-stroke, strongswan-mod-updown, strongswan-mod-x509, strongswan-mod-xcbc
Source: feeds/packages/net/strongswan
SourceName: strongswan-minimal
License: GPL-2.0-or-later
Section: net
SourceDateEpoch: 1636706225
CPE-ID: cpe:/a:strongswan:strongswan
Maintainer: Philip Prindeville <philipp@redfish-solutions.com>, Noel Kuntze <noel.kuntze@thermi.consulting>
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 105
Description:  StrongSwan is an OpenSource IPsec implementation for the Linux operating system.
 This meta-package contains only dependencies for a minimal IKEv2 setup.
