Package: libcares
Version: 1.17.1-1
Depends: libc
Source: feeds/packages/libs/c-ares
SourceName: libcares
License: MIT
LicenseFiles: LICENSE.md
Section: libs
SourceDateEpoch: 1636706225
CPE-ID: cpe:/a:c-ares_project:c-ares
Maintainer: Karl Palsson <karlp@etactica.com>
Architecture: arm_cortex-a7_neon-vfpv4
Installed-Size: 32768
Description:  c-ares is a C library for asynchronous DNS requests (including name resolves)
 
 C89 compatibility, MIT licensed, builds for and runs on POSIX, Windows,
 Netware, Android and many more operating systems.
 
